---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/4ebefa62437f4702ad6f673d8496f5ff/query
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_API_TOKEN>
      Notion-Version:
      - '2022-06-28'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"388-hFFWwf6I1sR1SE6xyrrggteLpQA"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"page","id":"a55fc778-f594-45f7-a853-26e2017cb403","created_time":"2023-04-02T03:40:00.000Z","last_edited_time":"2023-04-02T08:40:00.000Z","created_by":{"object":"user","id":"7f8d063d-8a01-475b-93a5-958d61caa888"},"last_edited_by":{"object":"user","id":"7f8d063d-8a01-475b-93a5-958d61caa888"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"4ebefa62-437f-4702-ad6f-673d8496f5ff"},"archived":false,"properties":{"Money":{"id":"W%7Chi","type":"number","number":100},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Good","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Good","href":null}]}},"url":"https://www.notion.so/Good-a55fc778f59445f7a85326e2017cb403"}],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
  recorded_at: Sun, 02 Apr 2023 08:42:28 GMT
recorded_with: VCR 6.1.0
