---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/databases/4ebefa62437f4702ad6f673d8496f5ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_API_TOKEN>
      Notion-Version:
      - '2022-06-28'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"398-hFlb4tIEbS8GCIjAnhxcK58HHK4"
    body:
      encoding: UTF-8
      string: '{"object":"database","id":"4ebefa62-437f-4702-ad6f-673d8496f5ff","cover":null,"icon":null,"created_time":"2023-04-02T02:42:00.000Z","created_by":{"object":"user","id":"1e025a79-f523-450e-b295-59b9f81be98c"},"last_edited_by":{"object":"user","id":"7f8d063d-8a01-475b-93a5-958d61caa888"},"last_edited_time":"2023-04-02T08:40:00.000Z","title":[{"type":"text","text":{"content":"Hello,
        notion-rb","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Hello,
        notion-rb","href":null}],"description":[],"is_inline":false,"properties":{"Money":{"id":"W%7Chi","name":"Money","type":"number","number":{"format":"number"}},"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"4dc9ff6d-2065-40c5-a073-01bbb28fb04e"},"url":"https://www.notion.so/4ebefa62437f4702ad6f673d8496f5ff","archived":false}'
  recorded_at: Sun, 02 Apr 2023 08:42:26 GMT
recorded_with: VCR 6.1.0
