---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases
    body:
      encoding: UTF-8
      string: '{"parent":{"page_id":"4dc9ff6d206540c5a07301bbb28fb04e"},"title":[{"text":{"content":"test
        notion-rb"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      Authorization:
      - Bearer <NOTION_API_TOKEN>
      Notion-Version:
      - '2022-06-28'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"340-Pi6p9XsiaIb6x5X73q1OVZSwcf4"
    body:
      encoding: UTF-8
      string: '{"object":"database","id":"e50fce86-b40e-44e5-94a0-0b437ee965c1","cover":null,"icon":null,"created_time":"2023-04-02T08:27:00.000Z","created_by":{"object":"user","id":"1e025a79-f523-450e-b295-59b9f81be98c"},"last_edited_by":{"object":"user","id":"1e025a79-f523-450e-b295-59b9f81be98c"},"last_edited_time":"2023-04-02T08:27:00.000Z","title":[{"type":"text","text":{"content":"test
        notion-rb","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"test
        notion-rb","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"4dc9ff6d-2065-40c5-a073-01bbb28fb04e"},"url":"https://www.notion.so/e50fce86b40e44e594a00b437ee965c1","archived":false}'
  recorded_at: Sun, 02 Apr 2023 08:27:39 GMT
recorded_with: VCR 6.1.0
