---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/pages
    body:
      encoding: UTF-8
      string: '{"parent":{"database_id":"4ebefa62437f4702ad6f673d8496f5ff"},"properties":{"Name":{"title":[{"text":{"content":"Test"}}]}}}'
    headers:
      Authorization:
      - Bearer <NOTION_API_TOKEN>
      Notion-Version:
      - '2022-06-28'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32f-VfKlwf91RK043Dqhph0wX9tweSU"
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"b7264873-ffe2-43db-8b6a-a53420ff2b0c","created_time":"2023-04-04T13:26:00.000Z","last_edited_time":"2023-04-04T13:26:00.000Z","created_by":{"object":"user","id":"1e025a79-f523-450e-b295-59b9f81be98c"},"last_edited_by":{"object":"user","id":"1e025a79-f523-450e-b295-59b9f81be98c"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"4ebefa62-437f-4702-ad6f-673d8496f5ff"},"archived":false,"properties":{"Money":{"id":"W%7Chi","type":"number","number":null},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test","href":null}]}},"url":"https://www.notion.so/Test-b7264873ffe243db8b6aa53420ff2b0c"}'
  recorded_at: Tue, 04 Apr 2023 13:26:07 GMT
recorded_with: VCR 6.1.0
