---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/a55fc778f59445f7a85326e2017cb403/properties/title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_API_TOKEN>
      Notion-Version:
      - '2022-06-28'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a9-jDKPBBtf/cJFgAdJGK/bQr/Rnpc"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"property_item","type":"title","id":"title","title":{"type":"text","text":{"content":"Good","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Good","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"title","next_url":null,"type":"title","title":{}}}'
  recorded_at: Tue, 04 Apr 2023 13:25:50 GMT
recorded_with: VCR 6.1.0
