---
http_interactions:
- request:
    method: patch
    uri: https://api.notion.com/v1/pages/a55fc778f59445f7a85326e2017cb403
    body:
      encoding: UTF-8
      string: '{"properties":{"Money":{"number":150}}}'
    headers:
      Authorization:
      - Bearer <NOTION_API_TOKEN>
      Notion-Version:
      - '2022-06-28'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32e-29G1QSF+J0Vi7hn9p69BsIJMxIs"
    body:
      encoding: UTF-8
      string: '{"object":"page","id":"a55fc778-f594-45f7-a853-26e2017cb403","created_time":"2023-04-02T03:40:00.000Z","last_edited_time":"2023-04-04T13:27:00.000Z","created_by":{"object":"user","id":"7f8d063d-8a01-475b-93a5-958d61caa888"},"last_edited_by":{"object":"user","id":"1e025a79-f523-450e-b295-59b9f81be98c"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"4ebefa62-437f-4702-ad6f-673d8496f5ff"},"archived":false,"properties":{"Money":{"id":"W%7Chi","type":"number","number":150},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Good","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Good","href":null}]}},"url":"https://www.notion.so/Good-a55fc778f59445f7a85326e2017cb403"}'
  recorded_at: Tue, 04 Apr 2023 13:27:10 GMT
recorded_with: VCR 6.1.0
